body {
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}
.header {
    padding: 10px;
    height: 15vh;
    text-align: center;
}
.logo-container {
    width: 10vw;
    height: 12vh;
    float: left;
}
.logo{
    width: 100%;
    height: 100%;
}
.content1{
    padding-top: 30px;
    position: relative;
    float:left;
    width: 12vw;
    height: 100%;
    left: 22%;
}
.content2{
    padding-top: 30px;
    position: relative;
    float: left;
    width: 11vw;
    height: 100%;
    left: 22%;
}
.content3{
    padding-top: 30px;
    position: relative;
    float: left;
    width: 11vw;
    height: 100%;
    left: 22%;
}
.button1 {
    position: relative;
    width: 12vw;
    height: 6vh;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    border: 1px solid #555;
    font-family: 'Indie Flower', cursive;
    z-index: 100;
}

.btn-container {
    position: absolute;
    width: 100%;
    top: 90%;
    text-align: center;
}

.button1:hover {
    background-color: #555;
    box-shadow: 0px 15px 20px rgba(78, 78, 78, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

a:link {
    color: red;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

.section1 {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.section2 {
    width: 100%;
    height: 100vh;
    position: relative;
    margin: 0 auto;
}

.container {
    position: relative;
    text-align: center;
    top: 100%;
    height: 100vh;
}
.stack-container{
    position: relative;
    text-align: center;
    top: 100%;
    height: 100vh;
}
.card-box:hover {
    transform: scale(1.05);
}

.card-box {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    display: inline-block;
    margin: 20px;
    width: 280px;
    max-width: 280px;
    height: 32vh;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.26);
    transition: 0.5;
}

.img-gradient {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(206, 113, 113, 0.096), rgb(241, 148, 148));
    z-index: 2;
}

.text-wrap {
    position: absolute;
    bottom: 0;
    padding: 24px;
    z-index: 2;
}

.text-wrap h1 {
    color: #FFF;
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: bold;
    text-align: left;
}

.text-wrap p {
    color: #FFF;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
}

.h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.move-container {
    position: relative;
    top: 5%;
}