<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
        integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="../public/stylesheets/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <style>
        body {
            background-image: url('../public/images/Webster-EmbeddedsLogoMainPage2.jpg');
            background-repeat: no-repeat;
            background-position: top;
            display: block;
            background-color: #f9d0c2;
        }
    </style>
    <title>웹쟁이임베들</title>
</head>

<body>
    <div class="section1">
        <div class="header">
            <div class="logo-container">
                <img src="../public/images/logo.jpg" alt="" class="logo">
            </div>
            <div class="content1">
                팀 소개
            </div>
            <div class="content2">
                콘텐츠2
            </div>
            <div class="content3">
                콘텐츠3
            </div>
            <div class="login-container">
                <a href="../views/login.html">Log In</a>
            </div>
        </div>
        <div class="btn-container">
            <a href="#target1" class="scroll"><button class="button1" id="downBtn">Go to See</button></a>
        </div>
    </div>
    <div class="setction2">
        <div class="container" id="target1">
            <div class="move-container">
                <h1 class="h1">
                    Our Project<br>
                    <span style="font-size: 0.4em; font-family: 'Bebas Neue', cursive;">저희의 프로젝트를 소개합니다!</span>
                </h1>
                <div class="card-box">
                    <div class="img-gradient"></div>
                    <!-- <img src="../imgs/sample-1.jpg" alt="Sample img 1"> -->
                    <div class="text-wrap">
                        <h1>프로젝트제목1</h1>
                        <p>프로젝트 설명 글</p>
                    </div>
                    <div class="play-btn"></div>
                </div>
                <div class="card-box">
                    <div class="img-gradient"></div>
                    <!-- <img src="../imgs/sample-2.jpg" alt="Sample img 2"> -->
                    <div class="text-wrap">
                        <h1>프로젝트제목2</h1>
                        <p>프로젝트 설명 글</p>
                    </div>
                    <div class="play-btn"></div>
                </div><br>
                <div class="card-box">
                    <div class="img-gradient"></div>
                    <!-- <img src="../imgs/sample-3.jpg" alt="Sample img 3"> -->
                    <div class="text-wrap">
                        <h1>프로젝트제목3</h1>
                        <p>프로젝트 설명 글</p>
                    </div>
                </div>
                <div class="card-box">
                    <div class="img-gradient"></div>
                    <!-- <img src="../imgs/sample-3.jpg" alt="Sample img 3"> -->
                    <div class="text-wrap">
                        <h1>프로젝트제목4</h1>
                        <p>프로젝트 설명 글</p>
                    </div>
                </div>
            </div>
            <div class="btn-container" style="margin-top: 2.5vmin;">
                <button type="button" onclick="$('html').animate({scrollTop : 0})" class="button1">Go UP</button>
            </div>
        </div>
    </div>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 500);
            });
        });
    </script>
</body>

</html>